.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#121230, #212B46);
}

.title {
    font-size: 80px;
    color: #FFFFFF;
}


.containerInput {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px;
    margin: 32px 0;
    display: flex;
    border-radius: 12px;
    box-shadow: 10px 10px 20px #121230;
    transition: 0.1s;
}

.containerInput:hover{
    background-color: rgba(255, 255, 255, 0.3);
    outline: 3px solid #FFFFFF;
}

.containerInput input {
    background-color: transparent;
    border: 0;
    font-size: 18px;
    color: #FFFFFF;
    outline: none;
    margin-left: 16px;
    margin-right: 16px;
}

.containerInput input::placeholder{
    color: #B9B9B9;
}

.buttonSearch {
    background-color: transparent;
    border: 0;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.1s;
}

.buttonSearch:hover {
    transform: scale(1.2);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    gap: 8px;
    border-radius: 24px;
    padding: 32px 44px;
    box-shadow: 10px 10px 20px #121230;
    transition: 0.2s;
}  

.main:hover {
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.08);
}

.main h2 {
    margin-bottom: 16px;
    font-size: 32px;
}

.main span {
    font-weight: bold;
}

@media (max-width: 620px) {
    .title {
        font-size: 60px;
    }
}